---
---
@import "main";

body {
	font-family: arial;
}

h2 a, p a {
	color: #98B8EB !important;
	text-decoration: none;
}

h2 a:hover, p a:hover {
	color:#588CDF !important;
	
}

img {
	width: 100%;
}

.navbar-brand {
	font-size: 1.5rem;
}
