---
---
@import "main";

body {
	font-family: arial;
}

h2 a, p a {
	color: #98B8EB !important;
	text-decoration: none;
}

h2 a:hover, p a:hover {
	color:#588CDF !important;
	
}
.maintitle {
}

.card {
	margin:5px;
}

img {
	width: 100%;
}
